.otp-wrapper{
display:flex;
height:100vh;
font-family:Arial;
}

.otp-left{
flex:1;
background:linear-gradient(135deg,#fc2779,#8e44ad);
color:white;
display:flex;
justify-content:center;
align-items:center;
font-size:34px;
font-weight:bold;
}

.otp-right{
flex:1;
display:flex;
justify-content:center;
align-items:center;
position:relative;
background:white;
}

.skip{
position:absolute;
top:20px;
right:30px;
color:#fc2779;
cursor:pointer;
font-weight:bold;
}

.otp-card{
width:380px;
display:flex;
flex-direction:column;
gap:14px;
text-align:center;
}

.nykaa-logo{
width:90px;
margin:auto;
margin-bottom:10px;
}

.otp-card h2{
text-align:center;
margin:0;
}

.otp-card p{
color:gray;
font-size:14px;
margin:0;
}

.otp-box-container{
display:flex;
justify-content:space-between;
gap:10px;
margin:15px 0;
}

.otp-box{
width:50px;
height:50px;
font-size:20px;
text-align:center;
border:1px solid #ddd;
border-radius:8px;
}

.otp-box:focus{
border-color:#fc2779;
outline:none;
}

.verify-btn{
padding:14px;
background:#fc2779;
color:white;
border:none;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

.verify-btn:hover{
background:#e91e63;
}

.error-text{
color:red;
font-size:14px;
margin-top:-5px;
}

.resend{
text-align:center;
cursor:pointer;
color:#fc2779;
font-weight:600;
margin-top:8px;
}

.terms{
font-size:12px;
color:gray;
text-align:center;
margin-top:8px;
}