.signup-wrapper {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.signup-left {
  flex: 1;
  background-color:#972c55; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-left h1 {
  font-size: 32px;
  font-weight: 600;
}

.signup-right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skip {
  position: absolute;
  top: 25px;
  right: 40px;
  color: #fc2779;
  font-weight: 600;
  cursor: pointer;
}

.signup-content {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.signup-content h2 {
  margin-top: 10px;
  margin-bottom: 4px;
 
}
.nykaa-logo {
  width: 80px;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 6px;
}
.subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.input-row input {
  width: 150%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
}

.active-btn {
  width: 50%;
  padding: 12px;
  background-color: #fc2779;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
 
}

.disabled-btn {
  width: 50%;
  padding: 12px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: not-allowed;
}

.toggle-link {
  margin-top: 15px;
  color: #fc2779;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
  color: black;
  text-align: center;
}